body{
  background-color:rgb(220, 220, 220);
}

.card-box{
  width: 40%;
  background-color:   rgb(255, 255, 255);
  border-radius: 7px;
  filter: drop-shadow(0 0 10px rgb(8, 8, 29));
  color:  rgb(8, 8, 29);
  text-align: center;
  margin: auto;
  align-items: center;
  font-family: sans-serif;
  
}